body{
    background-color: rgb(6, 255, 255);
    color: black; 
      font-family: "Nerko One", cursive;
      display:flex;
      justify-content:center;
      align-items:center;
      height: 700px;
      margin: 0;
    }
       
      button{
        background-color: rgb(240, 255, 255);
        color: #0c0c0c;
        font-family: "Nerko One", cursive;
        }

.passo{
  display:none;
}

.passo.ativo{
  display: block;
}